[submodule "embra_connect_modules/services/sdk"]
	path = embra_connect_modules/services/sdk
	url = https://github.com/Embra-Connect-ETL/sdk.git
[submodule "embra_connect_modules/services/generic-auth-module"]
	path = embra_connect_modules/services/generic-auth-module
	url = https://github.com/Embra-Connect-ETL/generic-auth-module.git
[submodule "embra_connect_modules/services/connect_ide"]
	path = embra_connect_modules/services/connect_ide
	url = https://github.com/Embra-Connect-ETL/Connect-IDE.git
[submodule "embra_connect_modules/services/www"]
	path = embra_connect_modules/services/www
	url = https://github.com/Embra-Connect-ETL/www.git
[submodule "embra_connect_modules/services/ec_gateway"]
	path = embra_connect_modules/services/ec_gateway
	url = https://github.com/Embra-Connect-ETL/ec_gateway.git
[submodule "embra_connect_modules/services/ec_firewall"]
	path = embra_connect_modules/services/ec_firewall
	url = https://github.com/Embra-Connect-ETL/ec_firewall.git
[submodule "embra_connect_modules/services/ec_api_adapter"]
	path = embra_connect_modules/services/ec_api_adapter
	url = https://github.com/Embra-Connect-ETL/ec_api_adapter.git
[submodule "embra_connect_modules/services/ec_mailing_service"]
	path = embra_connect_modules/services/ec_mailing_service
	url = https://github.com/Embra-Connect-ETL/ec_mailing_service.git
