@keyframes amber-glow {
    0% {
        color: var(--amber-level-1);
    }

    50% {
        color: var(--amber-level-3);
    }

    100% {
        color: var(--amber-level-1);
    }
}

@keyframes bottom-border-amber-glow {
    0% {
        border-bottom: 3px solid var(--amber-level-1);
    }

    50% {
        border-bottom: 3px solid var(--amber-level-3);
    }

    100% {
        border-bottom: 3px solid var(--amber-level-1);
    }
}