@import url("./variables.css");
@import url("./animations.css");

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
}

#modal-title {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dim-gray);
    padding: 1rem;
}

.add-icon {
    font-size: 1.2rem;
    color: var(--dim-gray);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

input {
    width: 100%;
    border: none;
    padding: 9px;
    background: var(--white-alt);
    border-radius: 2px;
}

input::placeholder {
    color: #9a9a9add;
    font-weight: 400;
}

input:focus {
    outline: none;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    border-radius: 24px 0 0;
    border-top: 6px solid var(--amber-level-1);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 360px;
}

.modal-buttons {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #e6e6e6;
}

.modal-buttons button {
    padding: 1rem;
    border: none;
    width: 100%;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
}

#modal-cancel-btn:hover {
    opacity: 1;
}

#modal-proceed-btn,
#modal-cancel-btn {
    background: none;
    color: var(--white);
    gap: .6rem;
}

#modal-proceed-btn {
    background: var(--white-alt);
    color: var(--dark-gray);
}

#modal-cancel-btn {
    background: #f40000;
}

.proceed-icon,
.cancel-icon {
    font-weight: 800;
    font-size: 1.2rem;
}

.proceed-icon {
    color: var(--dark-gray);
}

.cancel-icon {
    color: var(--white);
}