@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


@import url("./variables.css");
@import url("./animations.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarabun", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .8px;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%
}

#connect-ide-wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

#editor-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#layout {
    display: flex;
    height: 100vh;
    width: 100%;
}


#tree-wrapper {
    width: 376px;
    max-width: 376px;
    min-width: 250px;
    background-color: var(--white);
    border-right: 1px solid var(--white-border);
    box-shadow: inset -2rem 4rem 4rem rgba(142, 43, 0, 0.05);
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
}

/*---------------
 Sidebar Toolbar 
----------------*/
#sidebar-toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .6rem;
}

/* Sidebar Buttons */
.sidebar-btn {
    background: var(--white-border);
    border: 1px solid #e7e7e7;
    border-radius: 99px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.sidebar-btn ion-icon {
    font-size: 1rem;
    color: var(--dim-gray);
}

.sidebar-btn:hover {
    background-color: var(--white);
    transform: scale(1.1);
}

.sidebar-btn:active {
    transform: scale(0.95);
}

/*--------------------
 Action buttons 
-------------------*/
.floating-editor-buttons {
    position: absolute;
    z-index: 999999;
    background: var(--white);
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.05);
    border: 1px solid var(--white-alt);
    border-radius: 6px;
    bottom: 20%;
    right: 4%;
    opacity: .8;
    transition: .2s all ease;
}

.floating-editor-buttons:hover {
    opacity: 1;
}

#save-button,
#undo-button {
    border: none;
    background: none;
    font-weight: 800;
    padding: .8rem;
    color: var(--dim-gray);
    cursor: pointer;
}

#save-button {
    background: var(--amber-level-1);
    color: var(--white);
    border-radius: 6px 0 6px 6px;
    box-shadow: .2rem 0rem .2rem 0 rgba(0, 0, 0, .05);
}

.action-btn-icon {
    margin: 0 auto;
}

/*-------------
 File Tree 
 ------------*/
#file-tree {
    margin: 1rem 2rem;
}

.file-tree-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid var(--amber-level-1);
    box-shadow: var(--amber-glow-level-3);
    padding-bottom: 1rem;
    color: var(--dim-gray);
    animation: bottom-border-amber-glow 2s infinite;
}

.file-tree-title-text {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-weight: 700;
}

.file-tray-icon {
    font-size: 1.4rem;
    color: var(--dim-gray);
}

#file-tree li {
    background: none;
    list-style: none;
    padding: .4rem;
    font-size: 1rem;
    color: var(--dark-gray);
    cursor: pointer;
    transition: 0.1s ease;
}

#file-tree li:hover {
    color: var(--dark-gray);
    font-weight: 700;
}

#file-tree li:focus {
    color: var(--amber-level-1);
}

.folder span {
    font-size: 1rem;
}

.file-icon,
.folder-icon {
    color: var(--dim-gray);
    font-size: .8rem;
}

/*-----------------------
File Tree context menu 
----------------------*/
#context-menu {
    position: absolute;
    width: 200px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    box-shadow: 16px 16px 32px #0000001f,
        -16px -16px 32px #8383830e;
    z-index: 999999;
    display: none;
    padding: 0;
    margin: 0;
    transform: scale(0);
    transition: .1s all ease;
    /* Default state */
}

#context-menu ul {
    background: none;
    padding: 0;
    margin: 0;
}

#context-menu ul li {
    padding: .6rem;
    margin: .6rem;
    border-radius: 4px;
    color: var(--dim-gray);
    border: none;
    font-weight: 500;
    transition: .1s all ease;
    cursor: pointer;
}

#context-menu ul li:hover {
    background: #eeeeee;
    transform: translateX(2px);
}

#context-menu.active {
    display: block;
    border: 1px solid var(--white-alt);
    margin: 0;
    transform: scale(1);
    /* Show menu */
}

#tabs {
    background: transparent;
    display: flex;
    align-items: center;
    padding: 5px;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    white-space: nowrap;
    /* Prevent wrapping of tabs */
    -webkit-overflow-scrolling: touch;
    /* For smoother scrolling on iOS */
}

#tabs>div {
    margin-right: 10px;
    flex-shrink: 0;
}

.tab {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 4px solid var(--amber-level-1);
    padding: 4px 12px;
    margin-right: .6rem;
    margin-bottom: .6rem;
    display: flex;
    align-items: center;
    justify-content: last baseline;
    gap: .8rem;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    transition: background 0.3s ease;
    opacity: .6;
}

.tab.active {
    background: var(--amber-level-1);
    border: 2px solid var(--amber-level-1);
    border-radius: 99px;
    box-shadow: var(--amber-glow-level-1);
    color: white;
    opacity: 1;
}

.tab span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab span:hover {
    color: #010000;
}

#editor {
    flex-grow: 1;
    height: calc(100% - 40px);
    overflow: auto;
    position: relative;
}

/* Overlay */
.editor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    pointer-events: none;
    display: none;
}

.editor-overlay.active {
    display: block;
}

.editor-side-bar-title {
    display: flex;
    align-items: first baseline;
    justify-content: center;
    gap: .2rem;
    font-size: 2rem;
    font-weight: bold;
    background: var(--white);
    color: var(--dim-gray);
    border-bottom: 2px solid #e7e7e7;
    padding: 1.6rem;
    margin-bottom: 1rem;
}

.editor-side-bar-icon {
    font-size: 2.6rem;
    color: var(--amber-level-1);
    animation: amber-glow 2s infinite;
}

#editor-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#editor {
    font-weight: 800
}

/*-------------
Command Runner
------------------*/
#command-panel {
    background: transparent;
    margin: 0 1rem 1rem;
    border-radius: 12px;
    border-right: 4px solid var(--amber-level-1);
    box-shadow: 0rem .4rem 6rem 0 rgba(0, 0, 0, 0.1);
    z-index: 999999;
}

/* Toggle Button Styles */
#toggle-command-panel {
    background: var(--white);
    width: 100%;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .6rem;
    transition: transform 0.3s ease;
    border-radius: 12px 0px 0px;
}

.toggle-text {
    font-size: .8rem;
    font-weight: medium;
    background: var(--white);
    color: var(--dim-gray);
}

.toggle-text span {
    font-weight: 800;
}

#toggle-command-panel ion-icon {
    color: var(--dim-gray);
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

#toggle-command-panel.collapse ion-icon {
    transform: rotate(180deg);
}

/* Input command styling   */
.command-input-panel {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: var(--white);
    width: 100%;
}

.command-input-wrapper {
    display: flex;
    align-items: center;
    gap: .2rem;
    width: 100%;
}

.command-input-panel ion-icon {
    border: none;
    padding: none;
}

#command-input {
    background: #ecececdd;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .05);
    font-weight: 700;
    color: var(--dim-gray);
    transition: .1s all ease;
}

#command-input:focus {
    background: #e5e5e5dd;
}

#command-input::placeholder {
    font-weight: 700;
}

.run-command-btn {
    width: 120px;
    padding: .8rem;
    border-radius: 9px;
    background: var(--white-border);
    color: var(--dim-gray);
    border: 1px solid #e7e7e7;
    font-weight: 800;
    transition: .1s all ease;
    cursor: pointer;
}

.run-command-btn:hover {
    background-color: var(--white);
    transform: scale(1.01);
}

/* Collapsed State for Command Runner */
#command-panel-content {
    display: flex;
    max-height: 500px;
    /* Default max height */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#command-panel-content.collapsed {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
}

/* Command History Panel */
#command-history {
    width: 30%;
    border: 1px solid #ddd;
    border-top: none;
    background-color: var(--white);
    padding: 24px;
    border-radius: 0px 0px 0px 12px;
}

#command-history h3 {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-weight: 800;
    font-size: 1rem;
    color: var(--dim-gray);
    margin-bottom: 14px;
    white-space: nowrap;
}

#history-list {
    margin: 1rem;
    font-weight: 700;
    font-size: .8rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .6rem;
}

#history-list li {
    font-weight: 700;
    font-size: .8rem;
    list-style: circle;
    color: var(--dim-gray);
}

.recent-execution-log {
    font-weight: 700;
    font-size: .8rem;
    color: lime;
}

.terminal-icon {
    font-size: 1.6rem;
    padding-right: .8rem;
    border-right: 2px solid var(--dim-gray);
}

#command-history ul {
    list-style: none;
    padding: 0;
}

#command-history .command {
    background: #eaeaea;
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 5px 10px;
    margin-bottom: 9px;
    border-radius: 99px;
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
}

#command-history .command.success {
    background: #e6ffed;
    border-left: 14px solid #36c564;
}

#command-history .command.error {
    background-color: #ffe6e6;
    border-left: 14px solid #e74c3c;
}

#command-history .command:hover {
    background-color: #f1f1f1;
}

/* Terminal View */
#command-terminal {
    width: 70%;
    border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    background: var(--white);
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#command-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 6px;
    border-bottom: 1px solid #f2f2f2;

}

#command-header .command-info {
    display: flex;
    align-items: center;
    gap: .8rem;
}

#command-header .command-buttons {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#rerun-btn,
#cancel-btn {
    background: var(--white-alt);
    color: var(--dim-gray);
    border: none;
    padding: .6rem;
    font-size: .8rem;
    font-weight: 700;
    cursor: pointer;
}

#rerun-btn {
    border-right: 1px solid #ddd;
}

#cancel-btn:hover {
    background: #e74c3c;
    color: var(--white);
}

#current-command {
    font-weight: 800;
}

#command-header .status {
    padding: 5px 10px;
    border-radius: 99px;
    font-size: 12px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: .4rem;
}

#command-header .status.success {
    background-color: #36c56328;
}

#command-header .status.error {
    background-color: #e74d3c1e;
}

#command-logs {
    height: 200px;
    overflow-y: auto;
    background-color: #242424;
    color: #eeeeee;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 10px;
    scroll-behavior: smooth;
}

.log pre {
    font-size: .8rem;
}

.default-message {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: #999;
    font-weight: 700;
    font-size: .9rem;
    text-align: center;
    padding: 10px;
}

.status.idle {
    color: #6c757d;
}

.status.running {
    color: #28a745;
}

.status.error {
    color: #dc3545;
}


#download-logs-btn {
    display: flex;
    align-items: end;
    gap: .2rem;
    font-weight: 600;
    font-size: .8rem;
    background: none;
    color: var(--dim-gray);
    border: none;
    transition: .1s all ease;
    cursor: pointer;
}

.download-icon {
    font-size: 1.4rem;
}